- var height = story.height ? story.height : 360;
tr.main-content
  td
    h2
      a(name='toc_item_#{ count }')
      | #{ story.title }
tr.main-content.no-padding
  td.banner(bgcolor="#333333")
    a(href='#{ story.url }')
      img(label='banner', src='#{ imgURL }', style='border-width: 0;', height='#{ height }', width='600')
    - if(story.body)
      p !{ story.body }