tr.main-content(bgcolor='#E6E7E4')
  td.left(valign='top', width='600', align='left')
    table(style='float: left; margin: 0 15px 5px 0', width="240", align='left')
      tbody
        tr
          td.imageContainer
            - if(story.url)
              a(href="#{story.url}", target="_blank")
                img(label='image', src='#{ imgURL }', height='auto', width='240', align='left')
            - else
              img(label='image', src='#{ imgURL }', height='auto', width='240', align='left')
        - if(story.caption)
          include photo-caption
    a(name='toc_item_#{ count }')
    h2 !{ story.title }
    - each paragraph in story.body
      p !{ paragraph }