tr
  td#featured.templateColumnContainer(align='center', valign='top', style='padding-top:20px;')
    table(border='0', cellpadding='20', cellspacing='0', width='100%')
      tr
        td.leftColumnContent
          img.columnImage(src='https://www.dfwworld.org/image/#{ data.featured.img.url }', style='max-width:560px;')
          div.date
            p #{ dateFormatter(data.featured.date[0], 'M D') }
      tr
        td.leftColumnContent(valign='top')
          h2 !{ data.featured.title }
          h3 !{ data.featured.speaker.name }
          h4 !{ data.featured.speaker.title }
          each paragraph in data.featured.paragraphs
            p !{ paragraph }