table
  tr
    td.help(align='center', valign='top', width='330', height='40')
      table(border='0', cellpadding='0', cellspacing='0', width='330')
        tbody
          tr(style='border-collapse: collapse;')
            td(style='border-collapse: collapse;')
              a(href='#{ permalink }') View in Browser
            td(style='border-collapse: collapse;')
              | &nbsp;
            td(style='border-collapse: collapse;')
              a(href='target=&amp;pid=1496&amp;did=0&amp;tab=0') Privacy Policy
            td(style='border-collapse: collapse;')
              | &nbsp;
            td(style='border-collapse: collapse;')
              a(href='target=&amp;pid=1497&amp;did=0&amp;tab=0') Unsubscribe
    td.spacer(align='center', valign='top', width='30', height='40')
      | &nbsp;
    td.share(align='right', valign='top', width='240')
      table(border='0', cellpadding='0', cellspacing='0', height='40')
        tbody
          tr(style='border-collapse: collapse;')
            td.icon-container(valign='top', align='center', width='25', height='25')
              a(href='#{ permalink }#FB-Like')
                img(src='http://www.dfwworld.org/image/facebook_icon_blue_round.gif', alt='Facebook icon', border='0', height='25', width='25')
            td.text(valign='top', align='left', width='40', height='25')
              a.text(href='#{ permalink }#FB-Like') Like
            td.icon-container(valign='top', align='center', width='25', height='25')
              a(href='#{ permalink }#Tweet')
                img(src='http://www.dfwworld.org/image/twitter_icon_blue_round.gif', alt='Twitter icon', border='0', height='25', width='25')
            td.text(valign='top', align='left', width='50', height='25')
              a.text(href='#{ permalink }#Tweet') Tweet
            td.icon-container(valign='top', align='center', width='25', height='25')
              a(href='#{ forwardThis }')
                img(src='http://www.dfwworld.org/image/email_icon_blue_round.gif', alt='Forward icon', border='0', height='25', width='25')
            td.text(valign='top', align='left', width='75', height='25')
              a.text(href='#{ forwardThis }') Forward
